<h1>Your Profile</h1>
    <h4>Name: <%= @user.name  %><h4>
    <p>Email: <%= @user.email %></p>
    <p>Country: <%= @user.country %></p>
    <br>
<h3>Your listings:</h3>
    <% @user.posts.each do |post| %>
      <%= link_to post.title, user_posts_path(@user)%>
   <%end %>


<h3><%= link_to "New Post", new_user_post_path(@user)%></h3>
<h4><%= link_to "Edit account", edit_user_path(@user) %></h4>
