<% if @category.errors.any? %>
  <div id="error_explanation" class="fields_with_errors">
    <h2>
      <%= pluralize(@category.errors.count, "error") %>
      prohibited this category from being saved:
    </h2>
 
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  
    </ul>
  </div>
<% end %>

<%= form_for [:admin, @category] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(function () {

    function Category (name, id) {
      this.name = name;
      this.id = id;
      // this.products = products; 
      this.successMessage = function() {
        return "Category " + this.name + " succesfully created."
      }
    }
    $('form').submit(function(event) {
      
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.post('/admin/categories', values);
 
      posting.done(function(response) {
        var newCategory = new Category(response["name"], response["id"]);
          $('ul.categories-list').append(
            $('<li>').append(
              $('<a>').attr('href', '/admin/' + '/categories/' + newCategory.id).text(newCategory.name)     
            )
          );
        $(".resultMessage").text(newCategory.successMessage());
      });

      posting.fail(function(responce){
        alert("please add something from Mykonos");
      });
      $("#category_name").val("")
      return false;

    });
  });


</script>

