<ul>
	
<% @categories.each do |c| %>
 <li>
	
	<%=link_to c.name, admin_category_path(c) %> <%=link_to "Delete", admin_category_path(c), :method => :delete, data: {:confirm => "Are you sure?"} %>
 </li> 
<% end %>
</ul>

<%= link_to "create new category", new_admin_category_path%>
<%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
<%= link_to "Home", root_path %>