<h2>Your Posts</h2>


  <li>
    <% @posts.each do |post| %>

    <div id="post-<%= post.id %>"><%= link_to post.title, user_post_path(post.user, post)%></div>
    <button class="js-more" data-id="<%= post.id %>" data-user-id="<%=post.user.id%>">See more</button>
    <p class="postBody" id="<%= post.id %>"><%= truncate (post.description) %></p>
    <%= link_to 'Delete Post', {controller: :posts, action: "destroy", id: post.id}, :method => :delete, :confirm => "Are you sure?" %> <br>
    <% end %>
  </li>
   



<script type="text/javascript" charset="utf-8">

$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    var userId = parseInt($(".js-next").attr("data-user-id"));

   $.get("/users/" + userId + "/posts/" + id + ".json", function(data){
    $("#" + id + ".postBody").text(data["description"]);
    
    });
  });
});
</script>












	
	

  <%= link_to "New post", new_user_post_path%>

