



<h2> Your post details:</h2>
  <div class="userName"> <%= @post.user.name %> </div>
    <% if next_post = @post.user.posts.detect {|p| p.id > @post.id} %>
  <a href="#" class="js-next" data-id="<%=next_post.id%>" data-user-id="<%=@post.user.id%>">Next Post</a>
  <% end %>

  <div>


    <h2>Your Product:</h2>


      <div> <h3> Title:</h3> <p class="postTitle">  <%= @post.title %> </p></div><br>
      <div> <h3> Description:</h3> <p class="postBody"> <%= @post.description %> </p></div><br>
      <div> <h3> Product Name:</h3> <p class="productName"><%= @post.product.name %> </p></div><br>
      <div> <h3> Product Price:</h3> <p class="productPrice"><%=@post.product.price%> </p></div><br>
      <div> <h3> Minimum Quantity:</h3> <p class="productMinimumQuantity"> <%= @post.product.minimum_quantity%> </p></div><br>

  </div>
  <script type="text/javascript" charset="utf-8">

$(function () {
  $(".js-next").on("click", function(e) {
    e.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id"));
    var userId = parseInt($(".js-next").attr("data-user-id"));
      //  change routes to show all posts
    $.get("/users/" + userId + "/posts.json", function(data) {
      // find next post
      var nextPost = data.find(function(post) {
        return post.id == nextId;
      });
      //  Update post information on page
      $(".userName").text(nextPost["user"]["name"]);
      $(".postTitle").text(nextPost["title"]);
      $(".postBody").text(nextPost["description"]);
      $(".productName").text(nextPost["product"]["name"]);
      $(".productPrice").text(nextPost["product"]["price"]);
      $(".productMinimumQuantity").text(nextPost["product"]["minimum_quantity"])
      
      
      // add next to each post to go
      var addNext = data.find(function(post) {
        return post.id > nextId;
      });
      
      if (addNext){
        $(".js-next").attr("data-id", addNext.id);
      } else {
        $(".js-next").hide();
      }
      
    });
  });
});
</script>

  <% if current_user == @post.user %>
  <%=link_to "Edit post & product", edit_user_post_path(@post.user)%>
  

  
  
 
  <h3>Back to your main page: <%=link_to @post.user.name, user_path(@post.user)%></h3>
  <h4>Contact details: <%= @post.user.email%></h4>
<%end%>

