<%= form_for @product do |f|%>
<p>
  <%= f.label :name %>:
  <%= f.text_field :name %>

  <%= f.label :minimum_quantity %>
  <%= f.number_field_tag :minimum_quantity %>

  <%= f.label :price %>
  <%= f.number_field_tag :price %>

  <%= f.collection_select :category, Category.all, :id, :name %>
</p>

  <%= f.submit %>
<% end %>
